button[type='submit']{
    width:100%;
    color:#fff;
    background-color: #218380;
    margin: 5px;
    padding:0.5em;
    border-radius: 0.5em;
    text-align: left ;
    border:none;
}

button[type='submit']:hover{
    background-color: #0c4d4a;
}

#skip {
    border:none;
    color:#fff;
    background-color: #218380;
    border-radius: 50%;
}